/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
  width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url("./assets/img/banner-bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; /* Ajuste conforme necessário para evitar sobreposição com a navbar */
  padding: 20px;
}

.auth-container input {
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-container button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #0056b3;
}


h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.config-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.config-button:hover {
  background-color: #444;
}

/* Estilos para a área de upload */
.upload-container {
  border: 2px dashed #aaa;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  transition: border-color 0.3s ease;
  background-color: #1e1e1e;
}

.upload-container:hover {
  border-color: #fff;
}

.upload-input {
  display: none;
}

.upload-container.dragging {
  border-color: #00ff00;
}



/* Modal de Configurações */
.modal {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto; /* Centraliza o modal horizontalmente */
  text-align: center;
  z-index: 2000; /* Aumentar z-index */
  position: fixed; /* Para que o modal seja fixo e não seja afetado pelo scroll */
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste para centralização perfeita */
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1400; /* Aumentar z-index */
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Botão no Modal */
.modal button {
  background-color: #444;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
  .container-main {
    padding: 20px;
  }

  .upload-container {
    padding: 20px;
  }

  .sidebar {
    width: 100%;
  }
}

.container-main {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo */
  justify-content: center;
  min-height: 100vh; /* Garante que o conteúdo esteja centralizado verticalmente */
}

.config-button {
  position: fixed;
  bottom: 20px; /* Ajuste a distância do fundo conforme necessário */
  right: 20px; /* Ajuste a distância da borda direita conforme necessário */
  font-size: 16px;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 1000; /* Garante que o botão fique acima de outros elementos */
}

.config-button svg {
  margin-right: 8px;
  justify-content: center;
  
}

.upload-container {
  border: 2px dashed #007bff;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 800px; /* Limita a largura máxima */
}

.upload-input {
  display: none;
}

.error-message {
  color: red;
}

.transcription-result {
  margin-top: 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100%;
  width: 300px;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
  padding: 20px;
  z-index: 99999;
  overflow-y: auto; 
}

.sidebar.open {
  right: 0;
}

.close-sidebar {
  background: #ff4d4d;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

/* Estilo geral para centralizar os elementos */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza os itens verticalmente */
  height: 100vh; /* Ocupa a altura total da tela */
  background-color: #222; /* Cor de fundo escura */
}

/* Estilo do formulário */
.form {
  width: 100%;
  max-width: 400px; /* Limita a largura máxima */
  padding: 20px;
  background-color: #333; /* Cor de fundo escura */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilo do rótulo (label) */
.input-label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #FFFFFF; /* Cor branca para o texto do label */
}

/* Container para o input e o botão de visibilidade */
.input-container {
  position: relative;
  margin-bottom: 15px; /* Espaço entre os campos de entrada */
}

/* Estilo do campo de entrada (input) */
.custom-input {
  width: 100%; /* Ajusta a largura para ocupar todo o espaço disponível */
  height: 50px;
  padding: 10px 40px 10px 10px; /* Ajusta o padding para deixar espaço para o botão */
  background-color: #333; /* Cor de fundo escura */
  border: 1px solid #555; /* Borda cinza escura */
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF; /* Cor branca para o texto */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
}

/* Estilo para o input com erro */
.custom-input.input-error {
  border-color: red;
}

/* Estilo do botão de visibilidade */
.visibility-toggle-button {
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #FFFFFF; /* Cor branca para o botão */
  cursor: pointer;
  font-size: 14px;
}

/* Estilo da mensagem de erro */
.error-message {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

/* Estilo dos botões */
.auth-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaço entre os botões */
}

/* Estilo dos botões individuais */
.auth-button {
  width: 100%; /* Ajusta a largura para ocupar todo o espaço disponível */
  padding: 10px;
  background-color: #4CAF50; /* Cor de fundo dos botões */
  border: none;
  border-radius: 4px;
  color: #FFFFFF; /* Cor do texto dos botões */
  font-size: 16px;
  cursor: pointer;
}

/* Estilo dos botões de alternância (login/cadastro) */
.toggle-button {
  background-color: #555; /* Cor de fundo para o botão de alternância */
}
/* Estilos gerais */
.container-main {
  padding: 20px;
  color: #fff; /* Cor do texto para visibilidade no fundo escuro */
  max-width: 1200px; /* Largura máxima para a página principal */
  margin: 0 auto; /* Centraliza o container */
}

h1, h2 {
  margin-top: 0;
  color: #e0e0e0; /* Cor dos títulos para destacar sobre o fundo escuro */
}

/* Botões */
.config-button, .logout-button {
  background-color: #302d2d; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 10px;
}

.config-button:hover, .logout-button:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse sobre o botão */
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #222; /* Cor de fundo da sidebar */
  color: #fff; /* Cor do texto na sidebar */
  transform: translateX(100%);
  transition: transform 0.3s ease;
  padding: 20px;
  overflow-y: auto;
}

.sidebar.open {
  transform: translateX(0);
}

.close-sidebar {
  background-color: #e74c3c; /* Cor de fundo do botão de fechar */
  color: #fff; /* Cor do texto do botão de fechar */
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

/* Estilos da tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #333; /* Cor de fundo da tabela */
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #444; /* Borda inferior das células */
}

th {
  background-color: #555; /* Cor de fundo dos cabeçalhos */
}

td {
  background-color: #333; /* Cor de fundo das células */
}

tr:nth-child(even) td {
  background-color: #444; /* Cor de fundo alternada para linhas pares */
}

tr:hover {
  background-color: #555; /* Cor de fundo ao passar o mouse */
}

button {
  background-color: #007bff; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse sobre o botão */
}

/* Container de upload */
.upload-container {
  border: 2px dashed #aaa; /* Estilo da borda do container de upload */
  padding: 20px;
  border-radius: 8px;
  background-color: #222; /* Cor de fundo do container */
  margin-top: 20px;
}

.upload-container input {
  display: block;
  margin: 10px auto;
}

.progress {
  margin-top: 10px;
}

/* Mensagens de erro */
.error-message {
  color: #e74c3c; /* Cor do texto de erro */
  margin-top: 10px;
}

/* Informações de cota */
.quota-info {
  margin-top: 20px;
}
.read-more {
  color: lightblue;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 5px;
}

.read-more:hover {
  color: darkblue; /* Adiciona um efeito de hover para melhorar a experiência */
}
